.logo {
  width: 100px;
}

.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 10px;
}

.nav-items{
  list-style: none;
  display: flex;
  padding: 10px;
}

.nav-items > li{
  padding: 10px;
}

.restaurant-card{
  width: 190px;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
}

.restaurant-card > img{
  width: 100%;
}

.body{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}